body {
  background-color: #eaf6f6;
}
hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 3px;
  width: 30%;
}
img {
  height: 130px;
}
h1,
h2,
h3 {
  color: #eb455f;
}
